body {
    margin: 0;
    font-family: monospace;
    background-color: #F3F5FC;
}
#logo
{
    display: flex;

}
#texto
{
background-color: transparent;
border-color: transparent;
color: #0A3871;

}
.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
    padding: 30px;
}

.input-section, .output-section {
    background-color: transparent;
    border-radius: 8px;
    padding: 20px;

}

.input-section {
    margin-top: 10%;
    flex: 4;
    display: flex;
    flex-direction: column;
    
    
}

.output-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;

    margin-bottom: 100px;
    border-radius: 32px;
}

textarea {
    width: 95%;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 8px;
    resize: none;
}
textarea:focus {
    outline: none;
}
.options {
    margin-top: 20px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 90%;
    gap: 7%;
    padding-left: 5%;
    padding-right: 5%;
}

#encriptar-btn
{
    background-color: #0A3871;
    color:white;

}
#desencriptar-btn
{
    background-color: #D8DFE8;
    border: 1px solid#0A3871;
    color: #0A3871;

}
#encriptar-btn:hover,#desencriptar-btn:hover
{
    background-color: #0057b386;
}

.btn  {
    padding: 10px 20px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    font-size: 16px;
    width: 50%;
    height:50px;
}
.btn-copy {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    height:50px;
}

.btn-copy {
    margin-top: 10px;

}


.btn:hover, .btn-copy:hover {
    background-color: #003f7a;
}

#aviso {
    margin-top: 20px;
    color: #777;
    font-size: 14px;
}

.placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #777;
    margin-top: 20px;
    
}

.placeholder img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    
}

footer {
    position: fixed;

    bottom:0px;
    width: 100%;
    text-align: center;
    color: #555;
    background-color: rgba(38, 107, 236, 0.212);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .input-section, .output-section {
        margin-bottom: 20px;
    }
}
.output-area {
    display: none;
}
b
{
    color:black;
}
.placeholder img {
    display: block;
}

/* Media query para pantallas más pequeñas que 768px */
@media (max-width: 768px) {
    .placeholder img {
        display: none;
    }
}